<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Path" value="XmlDocuments\"/>
	</appSettings>
	<connectionStrings>
    <!--SqlServerExpress - The XXXXXX is replaced in the Handler class by the value of the Assembly.GetExecutingAssembly().Location.Substring(0, pathRaw.IndexOf("bin") - 1)-->
    <add name="ConnectionString" connectionString="Server=.\SQLExpress;AttachDbFilename='XXXXXX\App_Data\DemoProjects.mdf'; Database=DemoProjects;Trusted_Connection=Yes;"/>
		<!--<add name="ConnectionString" 
			 connectionString="Data Source=.\SqlExpress; Database=DemoProjects; Integrated Security=True" />-->
	</connectionStrings>
</configuration>